html{
  scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    font-family: "Parkinsans", sans-serif;
}


.parkinsans {
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.header{
    min-height : 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(255, 255, 255, 0.333)), url(images/background-sushi3.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 40px;
}

 nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
    padding: 8px 10px;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;

}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
 content: '';
 width: 0%;
 height: 2px;
 background: #765D67;
 display: block;
 margin: auto;
 transition: 0.5s;   
}
.nav-links ul li:hover::after{
    width: 100%;
}


.logo{
    position: absolute;
    top: -90px;
    left: 60px;
    transform: translateX(-50%);
    animation: float 6s cubic-bezier(0.4, 0.0, 0,2, 1) infinite;
    width: 500px;
    height: auto;
}
@keyframes float {
    0% {  
     transform: translate(-50%, 0px);
}
50%{
    transform: translate(-50%, -16px);
}
100%{
    transform: translate(-50%,0px);
}
}

.text-box {
    margin-bottom: 150px;
    color: white;
    text-align: center;
    padding: 20px; 
}

.text-box h1{
    font-size: 54px;
}
 .text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
 }
 .text-box.reveal{
  transform: translateY(-40px);
 }
.text-box.reveal.active{
  opacity: 1;
  transform: translateY(0);
}
 .hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
 }

 .hero-btn:hover{
    border: 1px solid #C5BAC4;
    background: #C5BAC4;
    transition: 2s;
 }

 @media(max-width: 700px){
  .logo{
    width: 120px;
  }
    .text-box h1{
        font-size: 30px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #C5BAC4;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2; 
    }
 }

 /*----- meniu intro --*/
 .menu-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 60px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 40px 10px;
  justify-content: space-evenly;
background: linear-gradient(to top, #ebeee8, #e0e0d0);
 }
h2{
  font-size: 36;
  font-weight: 600;
  justify-content: center;
}
.text{
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

 .menu-item{
  display: flex;
  align-items: center;
  gap: 30px;
  background-image: linear-gradient(rgba(255, 255, 255,0.8),rgba(4, 9, 30, 0.7)), url(images/card2.jpg);
background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px 0;
  border-radius: 20px;
  margin-bottom: 50px;
color: white;
padding: 40px;
margin-top: 60px;
 }

 .reveal{
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease-out;
 }
 .reveal.active{
  opacity: 1;
  transform: translateY(0);
 }
 .menu-item:nth-child(even) {
  flex-direction: row-reverse;
 }

 .card{
  width: 300px;
  height: 350px;
  perspective: 1000px;
 }

 .card-inner{
  width: 100%;
  height: 100%;
  transition: transform 0.8s ease;
  transform-style: preserve-3d;
 }

 .card:hover .card-inner{
  transform: rotateY(180deg);
 }
 
.card-front,
.card-back{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.card-front img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-back{
  transform: rotateY(180deg);
  background: linear-gradient(135deg, #E2BDAF, #DE8389);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.card-back ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.card-back li{
  margin-bottom: 0;
}
.stars{
  color: gold;
  font-size: 20px;
  margin: 5px 0;
}
.review-count{
  font-size: 14px;
  color: #555;
}
.description{
  max-width: 250px;
  margin-left: 20px;
}
.menu-item:nth-child(even) .description{
  margin-left: 0;
  margin-right: 20px;
}

.description h2{
  font-size: 26px;
  margin-bottom: 10px;
  color: white;

}

/*----about-us----*/
.about-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 20px;
}
.about-text{
  width: 60%;
  text-align: center;
  margin-top: -30px;
  padding-top: 20px;
}
 h2.about-us{
   font-size: 56;
font-weight: 600;
top: -30px;
margin:0 0 15px 0;

}
p.about-us{
   color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 0;
  margin: 0;
}

.gif{
  width: 350px;
  border-radius: 10px;
  height: auto;
 
}

/*----blog----*/
.blog-title{
  font-size: 22px;
  font-weight: 400;
 letter-spacing: -0.5px;
 position: relative;
 display: inline-block;
 color: #111;
}

.blog-title::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -12px;
  width: 60px;
  height: 3px;
  background: linear-gradient(90deg, #000, #888);
  border-radius: 20px;
  animation: lineMove 3s ease-in-out infinite;
}

@keyframes lineMove{
  0% { width: 100px; }
  50% { width: 180px; }
  100% {width: 100px;}

}
.paragraph{
 display: flex;
  align-items: flex-start;
  gap: 30px;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 20px;
}

.text{
  flex: 1;
  line-height: 1.8;
  font-size: 16px;
  text-align: justify;
}


.paragraph ul{
  list-style: none;
  padding: 0;
  margin: 1.5rem;
  width: 100%;
}

li{
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 0.5rem;
  color: #333333;
  position: relative;
  padding-left: 20px;
}

li::before{
  font-size: 1.5rem;
  position: absolute;
  left: 0;
top: 0;

}
.fish{
   width: 300px;
float: right;
margin-left: 20px;
}


.clear{
  clear: both;
}

 .reveal-glow{
  opacity: 1;
  transform: translateY(30px);
  filter: drop-shadow(0 0 0px #fff);
  transition: opacity 0.8s ease, transform 0.8s ease, filter 1.2s ease ;
 }
 .reveal-glow.active{
  opacity: 1;
  transform: translateY(0);
  filter: drop-shadow(0 0 12px rgba(255, 255, 255, 0.6));
 }
.sushi-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 40px;
}

.sushi-text{
  flex: 1;
  line-height: 1.8;
   font-size: 16px;
  text-align: justify;
  max-width: 500px;
  color: #777;
}

.sushi-image img{
  width: 90%;
  height: auto;
  border-radius: 8px;
  float: right;
  margin-left: 20px;
}

.sashimi-container {
  display: flex;
  align-items: flex-start; 
  gap: 20px; 
  margin: 0 auto;
  padding: 40px;
}

.sashimi-text {
  flex: 1; 
  line-height: 1.8;
  font-size: 16px;
  text-align: justify;
  color: #777;
}

.sashimi-image img {
  width: 400px;
  height: auto;
  border-radius: 8px;
  display: block;
}

/*---contact-us----*/

.contact-container{
width: 90%;
max-width: 1100px;
margin: auto;
display: flex;
justify-content: space-between;
gap: 40px;
}

.contact-info{
  flex: 1;
}

.contact-info h2{
  font-size: 32px;
  margin-bottom: 15px;
}

.contact-info p{
  color: #555;
  line-height: 1.6;
}

.info-box{
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 15px 0;
  font-size: 18px;
}

.info-box span{
  font-size: 24px;
}

.contact-form{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 10px;
  outline: none;
}

.contact-form textarea{
  height: 130px;
  resize: none;
}

.contact-form button{
  padding: 14px;
  background: #000;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  transition: 0.5s;
}

.contact-form button:hover{
  background: #D3AF85;
}